/*以下ハンバーガーメニューのcssです,index以外にも適用してください*/
.header {
    position: relative;
}

.hamburger-menu {
    display: flex;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 9999;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 24px;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.hamburger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    background-color:#f7C1BB;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.menu {
    position: fixed;
    top: 0;
    left: -250px; /* 最初は画面外 */
    width: 250px;
    height: 100vh;
    background-color: #30332E;
    border-left: 1px solid #ddd;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    padding-top: 60px;
}

/* メニュー表示 */
.menu.is-active {
    left: 0;
    background-color: #30332E;
    display: block;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    border-bottom: 1px solid#FFFBFC;
}

.menu li:last-child {
    border-bottom: none;
}

.menu a {
    display: block;
    padding: 12px 16px;
    color: #FFFBFC;
    text-decoration: none;
}

.menu a:hover {
    background-color: #f7C1BB;
    color: #30332E;
}

/*以上、ハンバーガーメニューのcssです*/




/*以下ヘッダーのcssです*/
.header {
  background-color: #30332E; /* ダークグレーの背景色 */
            /* 文字を白に */
  display: flex;             /* 中身を横並びに */
  justify-content: space-between; /* 左右に振り分ける */
  align-items: center;       /* 縦方向の中央揃え */
  padding: 16px 32px;        /* 上下・左右の余白 */
  font-family: sans-serif;
}

/* 左側のグループ（アイコンとロゴ） */
.header-left {
  display: flex;
  align-items: center;
  color: #FFFBFC;
  gap: 24px; /* アイコンとロゴの隙間 */
}



/* ロゴテキスト */
.logo {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em; /* 文字の間隔を少し広げる */
  margin-left: 130px;
  color: #FFFBFC;
}

/* 右側のリンクグループ */
.header-right {
  display: flex;
  gap: 24px; /* リンク同士の隙間 */
  color: #f7c1bb;
}

/* リンクテキスト */
.header-right a {
  color: #f7c1bb;
  text-decoration: none; /* 下線を消す */
  font-size: 15px;
  font-weight: 500;
}

/*以上ヘッダーのcssです*/

